<!DOCTYPE html>
<html>
<head>
  <title>BOOKS</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "scaffold", :media => "all"%>
  <%= stylesheet_link_tag    "depot", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "store", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body id="store">
	<div id="baner">
		<%= @page_title || "BOOKS" %>
		<ul id="menu" style="float: right;">
			<li><%= link_to 'Home', store_index_path %></li>
			<li><%= link_to 'Products', products_path %></li>
			<li><%= link_to 'Create Products', new_product_path %></li>
			<li><a href="#">Overview</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>
	<div id="columns">
		<div id="side">
			<%= link_to 'Home', store_index_path %></br>
			<%= link_to 'Products', products_path %></br>
			<%= link_to 'Create Products', new_product_path %></br>
			<a href="http://www..../contact">Contacts</a></br>
		</div>
	</div>
	<div id="main">
		
		<%= yield %>
	</div>
</body>
</html>
