<!DOCTYPE html>
<html>
<head>
  <title>BOOKS</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "scaffold", :media => "all"%>
  <%= stylesheet_link_tag    "depot", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "store", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body id="store">
	<div id="baner">
		<%= @page_title || "BOOKS" %>
		<ul id="menu" style="float: right;">
			<li><%= form_tag(products_path, :method => "get", id: "search-form") do %>
    	<div>
      		<%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
      			<!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
           		of using a Rails form helper -->
      		<button type="submit">Search</i></button>
    	</div>
  	<% end %></li>
			<li><%= link_to 'Home', store_index_path %></li>
			<li><%= link_to 'Products', products_path %></li>
			<li><%= link_to 'Create Products', new_product_path %></li>
			<li><a href="#">Overview</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>
	<div id="columns">
		<div id="side">
			<%= link_to 'Home', store_index_path %></br>
			<%= link_to 'Products', products_path %></br>
			<%= link_to 'Create Products', new_product_path %></br>
			<a href="http://www..../contact">Contacts</a></br>
		</div>
	</div>
	
	<div id="main">
		
		<%= yield %>
	</div>
</body>
</html>
